<!-- <h4>AI Coach</h4> -->
<!-- <div>Timer: {{timerValue}}</div> -->
<!-- <div *ngIf="timerValue >= 0">
  <button (click)="copyPromptToClipboard()" class="btn btn-secondary">
    Copy Prompt to Clipboard
  </button>
</div> -->
<!-- <div>
    <button (click)="onClick()" class="btn btn-secondary">
      Get Hint for Current Code Resource
    </button> -->
<div id="ai-coach-container">
  <div id="ai-coach-hint" *ngIf="aiHint$ | async as hint">
    <div [@visibility]="!closed ? 'visible' : 'hidden'">
      <img
        src="vendor/ai-coach/close-hint.svg"
        class="close-hint"
        (click)="closeHint()"
      />
      <div class="speech-bubble">
        {{hint}}
        <button
          (click)="applyAiSuggestion($event)"
          class="btn"
          id="ai-coach-button"
        >
          Hinweis anwenden
        </button>
      </div>
    </div>
    <div
      [@visibility]="closed ? 'visible' : 'hidden'"
      (click)="openHint()"
      class="thought"
    >
      <img src="vendor/ai-coach/thought.svg" />
    </div>
  </div>

  <div
    (click)="onClick()"
    *ngIf="aiCoachState$ | async as state"
    id="ai-coach-image"
  >
    <img
      src="vendor/ai-coach/coach-neutral.svg"
      [@visibility]="state === 'neutral' ? 'visible' : 'hidden'"
      class="coach-image"
    />
    <img
      src="vendor/ai-coach/coach-thinking.svg"
      [@visibility]="state === 'thinking' ? 'visible' : 'hidden'"
      class="coach-image"
    />
    <img
      src="vendor/ai-coach/coach-idea.svg"
      [@visibility]="state === 'idea' ? 'visible' : 'hidden'"
      class="coach-image"
    />
  </div>
</div>
<!-- <div *ngIf="result$ | async as result">
    Anzahl der Fehler:
    <pre> {{ result.errors.length | json }}</pre>
  </div>
  <div *ngIf="countHoles$ | async as countHoles">
    Anzahl Löcher (fehlende Kinder):
    <pre>{{ countHoles }}</pre>
  </div> -->
