<details
  *ngIf="blockSidebar"
  class="ast"
  [@visibility]="blockSidebar.visibility$ | async"
  open
>
  <summary>
    <h5>{{ blockSidebar.displayName }}</h5>
  </summary>
  <details
    *ngFor="let category of blockSidebar.categories"
    [@visibility]="category.visibility$ | async"
    open
  >
    <summary>
      <h6>{{ category.displayName }}</h6>
    </summary>
    <!--TODO: The element ref is not working 100% correct, maybe bc of the *ngFor?-->
    <div
      *ngFor="let block of category.blocks"
      (mousedown)="startDrag($event, block)"
      class="block rounded"
      [@background]="block.highlightState$ | async"
      [@visibility]="block.visibilityState$ | async"
      #draggableBlock
    >
      {{ block.displayName }}
    </div>
  </details>
</details>
